.name{
    color: gold;
    font-size: large;
    background: black;
    width: 50px;
    border-width: 2px;
    border-color: red;
    border-style:solid;
    border-radius: 50px;
    padding: 70px 70px 70px 70px;


}

.name:hover{
    color: red;
    background: #48c8ff;
}